  <style>
        * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }
body {
  font-family:Arial, Helvetica, sans-serif;
  background-color: #000006;
  
  background-size: 200px 800px;;
  background-size: cover;
  background-position: top center;
}

.app-wrap {
   opacity:400;
    margin-left: 450px;;
    margin-top:20px;
    width:30%;
 border-radius: 16px;;
  background-color:#ffffffff;
  box-shadow: 500px;;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 15px 15px;
}

header input {
  width: 150%;
  height:50px;
 text-align:center;
  
  border: none;
  outline: none;
  background-color: #ffffff;
  border-radius: 24px;
  border-bottom: 3px solid #DF8E00;
  
  
  font-size: 20px;
  font-weight: 300;
  transition: 0.2s ease-out;
}

header input:focus {
  background-color: black;
 color: white;
}

main {
  flex: 1 1 100%;
  padding: 25px 25px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.location .city {
  color: #111;
  font-size: 32px;
  font-weight: bolder;
  margin-bottom: 5px;
}

.location .date {
  color:#111;
  font-size: 16px;
}

.current .temp {
  color: #111;
margin:20px;
 font-size: 4em;
 font-weight: bolder;
}


.current .weather {
  color: #111;
  font-size: 32px;
  font-weight: 700;
  
  margin-bottom: 15px;
}

.current .hi-low {
  color: #111;
  font-size: 24px;
  font-weight:bolder;
}
 
    </style>
